.menu
{
    width: 100%;
    background-color: rgb(38, 14, 56);
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
}
.menu > ul
{
    list-style: none;
    text-align: center;
    margin: 0;
}
.menu > ul > li a
{
    text-decoration: none;
}
.menu > ul > li 
{
    display: inline-block;
    text-align: center;
    font-size: 25px;
}