@keyframes appear {
    0%  {
        opacity: 0;
        text-shadow: 0 0 10px rgb(92, 160, 3),
        0 0 20px rgb(60, 121, 3),
        0 0 30px rgb(13, 121, 3),
        0 5px 40px rgb(36, 121, 3),
        0 5px 50px rgb(17, 121, 3),
        0 5px 60px rgb(13, 121, 3);
        color: rgb(184, 166, 166);

    }
    100%{
        opacity: 1;
    }
}


body
{
    background-color: rgb(17, 16, 16);
    color: white;
    margin: 0;
    border-top: 4px outset   rgb(134, 63, 30);
    border-bottom: 4px outset rgb(134, 63, 30);
    border-left: 4px outset rgb(134, 63, 30);
    border-right: 4px outset rgb(134, 63, 30);

}

.span
{
    width: 1000px;
    font-size: 3.8rem;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 2px 2px 2px rgba(206,89,55,0);
    letter-spacing: 17px;
    animation-name: appear;
    animation-fill-mode: both;
    animation-delay:inherit;
    animation-iteration-count:infinite;
    text-align: center;
    float: left;
    margin-top: 45px;
    margin-left: 10px;  
}

.h1
{
    transform: rotate(35deg);
    display: inline-block;
    position: relative;
    left: -35px;
    top: 15px;
    animation-name: appear;
    animation-duration:1.5s;
    animation-fill-mode: both;
    animation-delay:inherit;
    animation-iteration-count:infinite;
    padding:7px;
}
.h1-1
{
    transform: rotate(30deg);
    display: inline-block;
    position: relative;
    left: 4px;
    top: 15px;
    animation-name: appear;
    animation-duration:1.5s;
    animation-fill-mode: both;
    animation-delay:inherit;
    animation-iteration-count:infinite; 
}

.bok
{
    width: 250px;
    height: 700px;
    background-color: rgb(44, 8, 19);
    border-right: 4px dashed black;
}

.s1
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 15vh;
    font-size: 29px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    letter-spacing: 8px;
    font-weight: 700;
}